.App {
  /* text-align: center; */
  /* background-color: #FFF1CC; */
  margin: 50px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.order {
  font-family:'Times New Roman', Times, serif
}

.bio {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.proj-title {
  font-family: 'Roboto', sans-serif;
  color: #F38888;
  font-weight: 500;
  margin-bottom: 0;
  font-style: italic;
  text-decoration: underline;
  font-size: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: flex;
  flex-direction: row;
  /* width: 2000px; */
  /* margin: 100px; */
  justify-content: space-between;
  /* padding: 400px; */
}

.projects-container {
  /* width: 2000px; */
  /* flex-grow: 6; */
  width: 800px;
  /* flex: 1; */
}

.projectImg {
  width: 23em;
}

.project {
  text-align: left;
  /* margin: 5em; */
  padding-bottom: 5em;
}

.bio-flex {
  display: flex;
  gap: 10px;
}

.project-flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 10px;
  /* padding: 500px; */
  /* padding-right: 30px; */
  /* justify-content: space-between; */
}

.links-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
   /* justify-content: space-between; */
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
